.view{
   width: 100%;
   height: 100vh;
   padding: 20px;
   background: var(--color-light-green);
   overflow: auto;
}
.title{
   position: relative;
   font-size: xx-large;
   text-align: center;
   margin-top: 10vh;
}
.main{
   width: 100%;
   padding: 1em;
}
.search{
   width: 100%;
   max-width: 700px;
   padding: 0 10px;
   border-radius: 4px 4px 0  0;
   display: flex;
   align-items: center;
   background: var(--color-light);
   box-shadow: -5px -5px 5px var(--color-gray);
}
.search__control{
   width: 100%;
   height: 100%;
   padding:10px 15px;
   border: none;
   outline: none;
   font-size: medium;
   font-family: var(--font-ubuntu);
}
.search i{
   color:var(--color-light-gray);
}
.tableBox{
   grid-column: auto;
   overflow: auto;
}
.table{
   width: 100%;
   height: 100%;
   min-width: 30em;
   border: 1px solid var(--color-cyan);
   text-align: center;
   border-collapse: collapse;
}
.table__thead{
   position: sticky;
   top: 0;
   background: var(--color-main);
   color: white;
   height: 2.5em;
}
.table__tbody tr{
   background: var(--color-light-gray);
}
.table__tbody tr:nth-child(even){
   background: var(--color-light);
}
.table__tbody td{
   padding: 1em 0 !important;
   text-transform: uppercase;
}
.table_btn{
   background: var(--clr);
   border: none;
   padding: 1px 7px;
   border-radius: 3px;
   color: white;
   font-size: larger;
   cursor: pointer;
}
.empty{
   width: 100%;
   place-items:center;
   text-transform:none;
   font-family: var(--font-ubuntu);
}
.empty p{
   font-family: inherit;
}

@media screen and (max-width: 1280px){
   .title{
      margin: 0;
   }
}
